# MariaDB 설정 (추가 설정 필요)
MARIADB_ROOT_PASSWORD=1111
MARIADB_DATABASE=capstone
MARIADB_USER=capstone
MARIADB_PASSWORD=capstone

SPRING_DATASOURCE_URL: url
SPRING_DATASOURCE_USERNAME: capstone
SPRING_DATASOURCE_PASSWORD: capstone
SPRING_DATASOURCE_DRIVER_CLASS_NAME:

DB_PORT=3306
DB_HOST=mariadb
DB_NAME=capstone
DB_USERNAME=capstone
DB_PASSWORD=capstone

#외부 접속용 호스트 포트
DB_EXTERNAL_PORT=3307

#Redis
REDIS_HOST=redis
REDIS_PORT=6379

# spring profile
SPRING_PROFILES_ACTIVE=local
# python 설정
APP_ENV=local
TRYON_MODE=mock
# 나중에 GPU 서버 구축시 주소 변경
AI_SERVER_URL=http://공인 ip:8000

# API 테스트 용(가짜 결과 이미지 반환)
USE_MOCK=true

#jwt 설정
JWT_SECRET=your-super-secret-key-change-this-in-production-32chars
JWT_EXPIRATION=3600000

# cors / frontend
FRONTEND_BASE_URL=https://주소:3000

# File paths
FILE_UPLOAD_ROOT=/data/uploads
FILE_RESULT_ROOT=/data/results

EXTERNAL_NAVER_API_BASE_URL=https://openapi.naver.com
EXTERNAL_NAVER_CLIENT_ID=여기에_발급받은_키
EXTERNAL_NAVER_CLIENT_SECRET=여기에_발급받은_시크릿
PYTHON_INFERENCE_BASE_URL=https://ngrok주소
